<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tust.springsecuritydemo.dao.ISysRoleDao">

    <sql id="selectSysRole">
        select distinct sr.* from `sys_role` sr
    </sql>

    <select id="getSysRoleByUsername" resultType="SysRole">
        <include refid="selectSysRole"/>
        left join `sys_user_role` sur on sr.id = sur.role_id
        left join `sys_user` su on sur.user_id = su.id
        where su.username = #{username}
    </select>

    <select id="getSysRoleByUrl" resultType="SysRole">
        <include refid="selectSysRole"/>
        left join `sys_role_permission` srp on sr.id = srp.role_id
        left join `sys_permission` sp on srp.permission_id = sp.id
        where sp.url like concat('%',#{url},'%')
    </select>

</mapper>